#loteria {
	font-size: 1.5em;
	border: 1px solid black;
}
#loteria tr,
td {
	border: 1px solid black;
}
/* con este css cambio el estilo de los enlaces si ha sido seleccionado o no */
.noseleccionado a:link {
	color: red;
}
.seleccionado a:visited {
	color: black;
}
.noseleccionado a:visited {
	color: red;
}
